<div id="wrapFooter" class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<div id="wFooter" class="col-md-12">
			<div div-rodape="">
				<div id="wFooter" class="col-md-12">
					<div id="rodape">
						<p class="padding-top-15">
							<span>{{systemLabel}}</span>
							<span style="float: right;">{{systemVersion}}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
		$(document).ready(function() {
			$('[data-submenu]').submenupicker();        
		});
</script>